---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import SideNavJobs from "../../components/sideNavJobs.astro";
---

<Layout title="Dachdeckermeister | Struck">
  <!--Page Header Start-->
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/details/jobs_header.jpg); background-position: 50%;"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li><a href="/leistungen">Stellenausschreibungen</a></li>
        </ul>
        <h2>Ausbildung zum Dachdecker/in (m/w/d)</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Service Details Start-->
  <section class="service-details">
    <div class="container">
      <div class="row" style="--bs-gutter-x:60px">
        <div class="col-xl-4 col-lg-5">
          <SideNavJobs job="azubi" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="service-details__right">
            <div class="service-details__img">
              <img src="/assets/images/struck/details/naegel_quer.jpg" alt="" />
              <div class="service-details__icon">
                <span class="icon-joist"></span>
              </div>
            </div>
            <div class="service-details__content">
              <h3 class="service-details__content-title">
                Ausbildung zum Dachdecker/in (m/w/d)
              </h3>
              <p class="service-details__text-1">
                Du wolltest schon immer mal wissen, wie ein Dach oder eine
                Fassade wetterfest gemacht wird und wie die Ziegel verlegt
                werden? Das ist lange nicht alles, was ein Dachdecker
                tag-täglich leistet, es zählen viele weitere, spannende Aufgaben
                zu diesem Beruf. In dieser Ausbildung bei uns bringst Du alles
                unter „Dach und Fach“ und Dir wird niemals langweilig! <br /><br
                />
              </p>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <p class="service-details__text-2">Deine Aufgaben u.a.:</p>
                  <ul class="list-unstyled service-details__benefits-points">
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Dachsanierungen im Steildachbereich</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          Dachsanierungen im Flachdachbereich
                          (Abdichtungstechnik)
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Terrassen- und Balkonsanierung</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Einbau von Wohndachfenstern</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          Herstellen von Regenrinnen und dazugehörigen
                          Ableitungen
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          Bearbeitung verschiedensten Materialien, z.B.:
                          Schiefer, Holz, Aluminium, Titanzink, Kupfer, an
                          Dächern und zur Bekleidung von Fassaden
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <p class="service-details__text-2">Dein Profil:</p>
                  <ul class="list-unstyled service-details__benefits-points">
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          Schulabschluss (egal ob Hauptschulabschluss, Mittlere
                          Reife oder Abitur)
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Engagement, Lernbereitschaft, Flexibilität</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Zuverlässigkeit und Teamgeist</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>freundliches und höfliches Auftreten</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>körperlich fit und schwindelfrei</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>handwerkliches Geschick</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <p class="service-details__text-2">Wir bieten:</p>
                  <ul class="list-unstyled service-details__benefits-points">
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>eine attraktive, tarifliche Ausbildungsvergütung</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          sicheren, unbefristeten Arbeitsplatz mit
                          Winterbeschäftigung
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Berufskleidung</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Unterstützung beim Führerschein (B/BE)</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>modernste Maschinen & Krane</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          langfristige Perspektiven (sehr gute Übernahmechancen)
                          und Weiterentwicklungsmöglichkeiten
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          ein abwechslungsreiches und verantwortungsvolles
                          Tätigkeitsgebiet
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          eine angenehme Arbeitsatmosphäre in einem
                          sympathischen Team
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="fs-5 mt-5">
              Haben wir Dein Interesse geweckt? <br />
              <br />
              Dann melde Dich doch einfach unter <br />
              <strong
                ><a href="mailto:info@lauter-struck.de">info@lauter-struck.de</a
                ></strong
              > oder <strong>0 55 31 / 12 78 27</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--Service Details End-->
    <Footer />
  </section>
</Layout>
