---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import SideNavJobs from "../../components/sideNavJobs.astro";
---

<Layout title="Dachdeckermeister | Struck">
  <!--Page Header Start-->
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/details/jobs_header.jpg); background-position: 50%;"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li><a href="/leistungen">Stellenausschreibungen</a></li>
        </ul>
        <h2>Dachdecker-, Zimmerer-, Bauklempnergesellen/innen</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Service Details Start-->
  <section class="service-details">
    <div class="container">
      <div class="row" style="--bs-gutter-x:60px">
        <div class="col-xl-4 col-lg-5">
          <SideNavJobs job="geselle" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="service-details__right">
            <div class="service-details__img">
              <img src="/assets/images/struck/details/details3.jpg" alt="" />
              <div class="service-details__icon">
                <span class="icon-joist"></span>
              </div>
            </div>
            <div class="service-details__content">
              <h3 class="service-details__content-title">
                Dachdecker-, Zimmerer-, Bauklempnergesellen/innen
              </h3>
              <p class="service-details__text-1">
                Wir suchen ab sofort zur Unterstützung unseres Teams:
              </p>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <p class="service-details__text-2">Deine Aufgaben u.a.:</p>
                  <ul class="list-unstyled service-details__benefits-points">
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          Ausführungen jeglicher Dach-, Fassaden- &
                          Abdichtungsarbeiten
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Einbau von Dachfenstern & Zubehör</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          Fertigung & Montage von Blechbauteilen (Dachrinnen,
                          Stehfalzbekleidung, etc.)
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Holzkonstruktionen & –bekleidungen</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Montage von Photovoltaikanlagen</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <p class="service-details__text-2">Dein Profil:</p>
                  <ul class="list-unstyled service-details__benefits-points">
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          abgeschlossene Berufsausbildung zum Dachdecker,
                          Zimmerer oder Bauklempner oder Quereinsteiger mit
                          handwerklichem Geschick
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>wenn möglich Berufserfahrung</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Führerschein</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>zielstrebiges, selbstständiges Arbeiten</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Einsatz- & Lernbereitschaft, sowie Teamfähigkeit</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Zuverlässigkeit</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <p class="service-details__text-2">Wir bieten:</p>
                  <ul class="list-unstyled service-details__benefits-points">
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>verantwortungsvolle, abwechslungsreiche Aufgaben</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          sicheren, unbefristeten Arbeitsplatz mit
                          Winterbeschäftigung
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Sonderzahlung wie Urlaubs- & Weihnachtsgeld, VWL</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          Möglichkeit auf ein Firmenfahrzeug (PKW) mit
                          Privatnutzung
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>Berufsbekleidung</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          angenehmes Betriebsklima (junges, aufgeschlossenes
                          Team)
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          sehr gute Betriebsausstattung (Werkzeuge,
                          Krane/Fahrzeuge, etc.)
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          regelmäßige zertifizierte Schulungen bei namenhaften
                          Herstellern, welc he selbst ausgewählt werden, um die
                          eigenen Fähigkeiten stets auszubauen und zu erweitern.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="fs-5 mt-5">
              Haben wir Dein Interesse geweckt? <br />
              <br />
              Dann melde Dich doch einfach unter <br />
              <strong
                ><a href="mailto:info@lauter-struck.de">info@lauter-struck.de</a
                ></strong
              > oder <strong>0 55 31 / 12 78 27</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--Service Details End-->
    <Footer />
  </section>
</Layout>
