---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

const refs = [
  "/assets/images/struck/dach/dach1.jpg",
  "/assets/images/struck/dach/dach10.jpg",
  "/assets/images/struck/dach/dach4.jpg",
  "/assets/images/struck/dach/dach12.jpg",
  "/assets/images/struck/referenzen/ref1.jpg",
  "/assets/images/struck/referenzen/ref2.jpg",
  "/assets/images/struck/referenzen/ref3.jpg",
  "/assets/images/struck/referenzen/ref4.jpg",
  "/assets/images/struck/referenzen/ref5.jpg",
  "/assets/images/struck/referenzen/ref6.jpg",
  "/assets/images/struck/referenzen/ref7.jpg",
];
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Main Slider Start-->
  <section class="main-slider clearfix">
    <div
      class="swiper-container thm-swiper__slider"
      data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/assets/images/struck/dach/dach12.jpg);"
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-7 col-lg-8">
                <div class="main-slider__content">
                  <p class="main-slider__sub-title">Lauter & Struck</p>
                  <h2 class="main-slider__title">
                    Bedachungen – sicher und zuver­lässig
                  </h2>
                  <p class="main-slider__text">
                    Von der Dachreparatur bis zur Fassadendämmung <br />
                    handwerkliche Qualität vom Profi!
                  </p>
                  <div class="main-slider__btn-box">
                    <a href="about.html" class="thm-btn main-slider__btn">
                      <i class="fa fa-arrow-right"></i> mehr Informationen</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/assets/images/struck/klempnerei/klemp4_big.jpg);"
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-7 col-lg-8">
                <div class="main-slider__content">
                  <p class="main-slider__sub-title">Klempnerei</p>
                  <h2 class="main-slider__title">
                    Lorem ipsum dolor sit amet consectetur
                  </h2>
                  <p class="main-slider__text">
                    Lorem ipsum dolor sit amet consectetur <br />
                    Lorem ipsum dolor sit amet consectetur
                  </p>
                  <div class="main-slider__btn-box">
                    <a href="about.html" class="thm-btn main-slider__btn">
                      <i class="fa fa-arrow-right"></i> mehr Informationen</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div
            class="image-layer"
            style="
                  background-image: url(/assets/images/struck/dach/dach9.jpg);
                "
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-7 col-lg-8">
                <div class="main-slider__content">
                  <p class="main-slider__sub-title">Fassade</p>
                  <h2 class="main-slider__title">
                    Hinterlüftete-Fassadendämmung
                  </h2>
                  <p class="main-slider__text">
                    Gerne beraten wir Sie in einem ersten Vor-Ort-Termin <br />
                    persönlich rund um die Themen Wärmedämmung, Außendämmung und
                    Deckmaterial.
                  </p>
                  <div class="main-slider__btn-box">
                    <a href="about.html" class="thm-btn main-slider__btn">
                      <i class="fa fa-arrow-right"></i> mehr Informationen</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div
            class="image-layer"
            style="
                  background-image: url(/assets/images/struck/holzbau/holz1_big.jpg);
                "
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-7 col-lg-8">
                <div class="main-slider__content">
                  <p class="main-slider__sub-title">Zimmererarbeiten</p>
                  <h2 class="main-slider__title">
                    Mit Holz und Kompetenz für die Zukunft!
                  </h2>
                  <p class="main-slider__text">
                    Es versteht sich von selbst, dass wir „Zimmermänner“ auch
                    Arbeiten an Dachstühlen ausführen.
                  </p>
                  <div class="main-slider__btn-box">
                    <a href="about.html" class="thm-btn main-slider__btn">
                      <i class="fa fa-arrow-right"></i> mehr Informationen</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="main-slider__nav">
        <div class="swiper-button-prev" id="main-slider__swiper-button-next">
          <i class="icon-left-arrow"></i>
        </div>
        <div class="swiper-button-next" id="main-slider__swiper-button-prev">
          <i class="icon-right-arrow"></i>
        </div>
      </div>
    </div>
  </section>
  <!--Main Slider End-->

  <!--Feature One Start-->
  <section class="feature-one">
    <div class="container">
      <div class="feature-one__inner">
        <div class="feature-one__dot">
          <img src="/assets/images/shapes/feature-one-dot.png" alt="" />
        </div>
        <div class="row">
          <!--Feature One Single Start-->
          <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
            <div class="feature-one__single">
              <div class="feature-one__top">
                <div class="feature-one__icon">
                  <span class="icon-roof-5"></span>
                </div>
                <div class="feature-one__title-box">
                  <h3 class="feature-one__title">
                    <a href="/leistungen/pv">Photovoltaik-Anlagen</a>
                  </h3>
                </div>
              </div>
              <div class="feature-one__single-inner">
                <p class="feature-one__text">
                  auf Einfamilien-, Mehrfamilienhäusern bis hin zu
                  Gewerbeanlagen jeglicher Größe
                </p>
                <div class="feature-one__read-more">
                  <a href="/leistungen/pv"
                    >mehr Info <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Feature One Single End-->
          <!--Feature One Single Start-->
          <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
            <div class="feature-one__single">
              <div class="feature-one__top">
                <div class="feature-one__icon">
                  <span class="icon-roof"></span>
                </div>
                <div class="feature-one__title-box">
                  <h3 class="feature-one__title">
                    <a href="/leistungen/dacheindeckung"
                      >Dacheindeckung & Abdichtung</a
                    >
                  </h3>
                </div>
              </div>
              <div class="feature-one__single-inner">
                <p class="feature-one__text">
                  Ziegel-, Schiefer-, oder Stehfalzeindeckung mit der dazu
                  passenden Wärmedämmung
                </p>
                <div class="feature-one__read-more">
                  <a href="/leistungen/dacheindeckung"
                    >mehr Info <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Feature One Single End-->
          <!--Feature One Single Start-->
          <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
            <div class="feature-one__single">
              <div class="feature-one__top">
                <div class="feature-one__icon">
                  <span class="icon-joist"></span>
                </div>
                <div class="feature-one__title-box">
                  <h3 class="feature-one__title">
                    <a href="/leistungen/fassade">Dachfenster & Fassade</a>
                  </h3>
                </div>
              </div>
              <div class="feature-one__single-inner">
                <p class="feature-one__text">
                  Tageslicht durch den Einbau verschiedenster Dachfenster bzw.
                  Lichtlösungen
                </p>
                <div class="feature-one__read-more">
                  <a href="/leistungen/fassade"
                    >mehr Info <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Feature One Single End-->
        </div>
      </div>
    </div>
  </section>
  <!--Feature One End-->

  <!--About One Start-->
  <section class="about-one">
    <div class="about-one__shape float-bob-x">
      <img src="/assets/images/shapes/about-one-shape.png" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="about-one__left">
            <div
              class="about-one__img-box wow slideInLeft"
              data-wow-delay="100ms"
              data-wow-duration="2500ms"
            >
              <div class="about-one__img">
                <img src="/assets/images/struck/dach/dach5.jpg" alt="" />
              </div>
              <div class="about-one__line">
                <img src="/assets/images/shapes/about-one-line.png" alt="" />
              </div>
              <div class="about-one__satisfied">
                <!-- <div class="about-one__satisfied-inner">
                  <div class="about-one__satisfied-shape">
                    <img
                      src="/assets/images/shapes/about-one-satisfied-shape-1.png"
                      alt=""
                    />
                  </div>
                  <div class="about-one__satisfied-content">
                    <div class="about-one__satisfied-count-box">
                      <h3 class="odometer" data-count="98">00</h3>
                      <span class="about-one__satisfied-percent">%</span>
                    </div>
                    <p class="about-one__satisfied-text">Satisfied customers</p>
                  </div>
                </div> -->
              </div>
              <div class="about-one__big-text">qualität</div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="about-one__right">
            <div class="section-title text-left">
              <div class="section-sub-title-box">
                <p class="section-sub-title">Über uns</p>
                <div class="section-title-shape-1">
                  <img src="/assets/images/struck/icons/roof1.svg" alt="" />
                </div>
              </div>
              <h2 class="section-title__title">
                Dach-, Fassade-, Abdichtung - wir lassen Sie nicht im Regen
                stehen!
              </h2>
            </div>
            <p class="about-one__text">
              Seit über 18 Jahren steht unser Betrieb für Qualität und
              Fachkompetenz. Sie suchen ein innovatives Dachdecker-Unternehmen,
              wo Tradition und Fortschritt sich kreuzen? Dann sind Sie bei uns
              genau richtig. Nehmen Sie sich ein wenig Zeit und informieren Sie
              sich über unsere Leistungen von A wie Abdichtungsarbeiten oder
              Außenwandbekleidung, bis Z wie Ziegeleindeckung oder Zinkstehfalz.
            </p>
            <p class="about-one__text">
              Sie möchten gerne von uns beraten werden oder haben eine Frage?
              Dann senden Sie uns gerne eine <a
                class="link"
                href="mailto:info@lauter-struck.de"
              >
                Mail</a
              > oder rufen uns an!
            </p>
            <!-- <ul class="list-unstyled about-one__points">
              <li>
                <div class="icon-box">
                  <div class="icon">
                    <span class="icon-confirmation"></span>
                  </div>
                  <div class="text-box">
                    <p>Innovative Arbeit</p>
                  </div>
                </div>
                <div class="text-box-two">
                  <p>Lorem ipsum dolor sit ame sedme consectetur nod.</p>
                </div>
              </li>
              <li>
                <div class="icon-box">
                  <div class="icon">
                    <span class="icon-confirmation"></span>
                  </div>
                  <div class="text-box">
                    <p>Betrieb Zertifizierung</p>
                  </div>
                </div>
                <div class="text-box-two">
                  <p>Lorem ipsum dolor sit ame sedme consectetur nod.</p>
                </div>
              </li>
            </ul> -->
            <a href="/kontakt" class="thm-btn about-one__btn">
              <i class="fa fa-arrow-right"></i> Kontaktieren Sie uns</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About One End-->

  <!--Services One Start-->
  <section class="services-one">
    <div class="services-one-shape-1 float-bob-x">
      <img src="/assets/images/shapes/services-one-shape-1.png" alt="" />
    </div>
    <div class="services-one-shape-2">
      <img src="/assets/images/shapes/services-one-shape-2.png" alt="" />
    </div>
    <div class="container">
      <div class="services-one__top">
        <div class="row">
          <div class="col-xl-7 col-lg-6">
            <div class="services-one__top-left">
              <div class="section-title text-left">
                <div class="section-sub-title-box">
                  <p class="section-sub-title">Unsere Leistungen</p>
                  <div class="section-title-shape-1">
                    <img src="/assets/images/struck/icons/roof1.svg" alt="" />
                  </div>
                </div>
                <h2 class="section-title__title">
                  Wir bieten hochwertige Dacheindeckung an
                </h2>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="services-one__top-right">
              <p class="services-one__top-right-text">
                Sie suchen einen kompetenten und zuverlässigen Dachdecker? Dann
                sind Sie bei uns genau richtig! Unser erfahrenes Team steht
                Ihnen bei allen Arten von Dachdeckerarbeiten zur Seite.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="services-one__bottom">
        <div class="row">
          <!--Services One Single Start-->
          <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
            <div class="services-one__single">
              <div class="services-one__img">
                <img
                  src="/assets/images/struck/dacheindeckung/dachein1.jpg"
                  alt=""
                />
              </div>
              <div class="services-one__content">
                <div class="services-one__icon">
                  <span class="icon-roof"></span>
                </div>
                <h3 class="services-one__title">
                  <a href="/leistungen">Dacheindeckung</a>
                </h3>
                <p class="services-one__text">
                  Ziegel-, Schiefer-, oder Stehfalzeindeckung mit der dazu
                  passenden Wärmedämmung.
                </p>
                <div class="services-one__read-more">
                  <a href="/leistungen"
                    >mehr Info <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Services One Single End-->
          <!--Services One Single Start-->
          <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
            <div class="services-one__single">
              <div class="services-one__img">
                <img
                  src="/assets/images/struck/abdichtung/abdich1.jpg"
                  alt=""
                />
              </div>
              <div class="services-one__content">
                <div class="services-one__icon">
                  <span class="icon-joist"></span>
                </div>
                <h3 class="services-one__title">
                  <a href="/leistungen">Abdichtung</a>
                </h3>
                <p class="services-one__text">
                  Vom privaten Garagendach bis hin zu gewerblichen Hallen bieten
                  wir einen umfassenden Service.
                </p>
                <div class="services-one__read-more">
                  <a href="/leistungen"
                    >mehr Info <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Services One Single End-->
          <!--Services One Single Start-->
          <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
            <div class="services-one__single">
              <div class="services-one__img">
                <img
                  src="/assets/images/struck/dachfenster/fenster1.jpg"
                  alt=""
                />
              </div>
              <div class="services-one__content">
                <div class="services-one__icon">
                  <span class="icon-roof-1"></span>
                </div>
                <h3 class="services-one__title">
                  <a href="/leistungen">Dachfenstereinbau</a>
                </h3>
                <p class="services-one__text">
                  Tageslicht durch den Einbau verschiedenster Dachfenster bzw.
                  Lichtlösungen mit diversem Zubehör.
                </p>
                <div class="services-one__read-more">
                  <a href="/leistungen"
                    >mehr Info <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Services One Single End-->
        </div>
      </div>
    </div>
  </section>
  <!--Services One End-->

  <!--Why Choose One Start-->
  <section class="why-choose-one">
    <div
      class="why-choose-one-bg"
      style="
            background-image: url(/assets/images/backgrounds/why-choose-one-bgOFF.jpg);
          "
    >
    </div>
    <div class="why-choose-one-shape-3 float-bob-y-2"></div>
    <div class="why-choose-one-shape-4 float-bob-x">
      <img src="/assets/images/shapes/why-choose-one-shape-4O.png" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="why-choose-one__left">
            <div class="section-title text-left">
              <div class="section-sub-title-box">
                <p class="section-sub-title">Warum wir?</p>
                <div class="section-title-shape-1">
                  <img src="/assets/images/struck/icons/roof1.svg" alt="" />
                </div>
              </div>
              <h2 class="section-title__title" style="text-wrap: balance">
                Ein starkes Team für Ihr Projekt.
              </h2>
            </div>
            <p class="why-choose-one__text">
              Exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat duis aute aboris nisi ut aliquip ex irure reprehederit.
            </p>
            <div class="why-choose-one__author-sign">
              <p>Niklas Lauter & Thomas Struck</p>
            </div>
            <div class="why-choose-one__points-box">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <a href="/leistungen/dachfenster">
                    <div class="why-choose-one__points-single">
                      <div class="why-choose-one__points-icon">
                        <span class="icon-roof-2"></span>
                      </div>
                      <div class="why-choose-one__points-title-box">
                        <h4 class="why-choose-one__points-title">
                          Dachfenster
                        </h4>
                      </div>
                    </div></a
                  >
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <a href="/leistungen/pv">
                    <div class="why-choose-one__points-single">
                      <div class="why-choose-one__points-icon">
                        <span class="icon-shield"></span>
                      </div>
                      <div class="why-choose-one__points-title-box">
                        <h4 class="why-choose-one__points-title">PV-Anlagen</h4>
                      </div>
                    </div></a
                  >
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <a href="/leistungen/abdichtung">
                    <div class="why-choose-one__points-single">
                      <div class="why-choose-one__points-icon">
                        <span class="icon-mission"></span>
                      </div>
                      <div class="why-choose-one__points-title-box">
                        <h4 class="why-choose-one__points-title">Abdichtung</h4>
                      </div>
                    </div></a
                  >
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <a href="/leistungen/klempnerarbeiten">
                    <div class="why-choose-one__points-single">
                      <div class="why-choose-one__points-icon">
                        <span class="icon-construction-worker"></span>
                      </div>
                      <div class="why-choose-one__points-title-box">
                        <h4 class="why-choose-one__points-title">Klempnerei</h4>
                      </div>
                    </div></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="why-choose-one__right">
            <div class="why-choose-one__img-box">
              <div
                class="why-choose-one__img wow slideInRight"
                data-wow-delay="100ms"
                data-wow-duration="2500ms"
              >
                <img src="/assets/images/struck/pv/pv1.jpg" alt="" />
              </div>
              <div class="why-choose-one__shape-1"></div>
              <div class="why-choose-one__shape-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Why Choose One End-->

  <!--Brand One Start-->
  <section class="brand-one">
    <div class="brand-one__inner">
      <div class="brand-one__shape-1 float-bob-y">
        <img src="/assets/images/shapes/brand-one-shape-1.png" alt="" />
      </div>
      <div class="brand-one__shape-2 float-bob-y">
        <img src="/assets/images/shapes/brand-one-shape-2.png" alt="" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div
              class="brand-one__carousel thm-owl__carousel owl-theme owl-carousel"
            >
              <!--Brand One Single-->
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/velux.svg"
                    alt="Velux Logo"
                  />
                </div>
              </div>
              <!--Brand One Single-->
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/weserpower_grey.svg"
                    alt="Weserpower Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/braas.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/icopal.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/vedag.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/rheinzink.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/wolfin.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/gutex.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/bmi.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/rathscheck.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <div class="brand-one__single">
                <div class="brand-one__img">
                  <img
                    src="/assets/images/struck/brands/wuerth.svg"
                    alt="Braas Logo"
                  />
                </div>
              </div>
              <!--Brand One Single-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Brand One End-->

  <!--Project One Start-->
  <section class="project-one">
    <div class="project-one__top">
      <div class="container">
        <div class="section-title text-center">
          <div class="section-sub-title-box">
            <p class="section-sub-title">Unsere Projekte</p>
            <div class="section-title-shape-1">
              <img src="/assets/images/struck/icons/roof1.svg" alt="" />
            </div>
          </div>
          <h2 class="section-title__title">
            Entdecken Sie unsere neusten <br />Projekte für Ihre Inspiration
          </h2>
        </div>
      </div>
    </div>
    <div class="project-one__bottom">
      <div class="project-one__bottom-wrapper">
        <div
          class="project-one__carousel owl-carousel owl-theme thm-owl__carousel"
        >
          {
            refs.map((ref) => (
              <div class="item">
                <div class="project-one__single">
                  <div class="project-one__img-box">
                    <div class="project-one__img">
                      <img src={ref} alt="" />
                    </div>
                    {/* <div class="project-one__content">
                      <h4 class="project-one__title">
                        <a href="work-details.html">Lorem ipsum</a>
                      </h4>
                    </div> */}
                    <div class="project-one__link">
                      <a class="img-popup" href={ref}>
                        <i class="fa fa-search-plus" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
          <!--Project One Single End-->
        </div>
      </div>
    </div>
  </section>
  <!--Project One  End-->

  <!--Trust Company Start-->
  <section class="trust-company">
    <div class="trust-company-shape-1">
      <img src="/assets/images/shapes/traust-company-shape-1.png" alt="" />
    </div>
    <div class="trust-company-shape-2"></div>
    <div class="trust-company-shape-3"></div>
    <div class="trust-company-shape-4"></div>
    <div
      class="trust-company-bg jarallax"
      data-jarallax
      data-speed="0.2"
      data-imgPosition="50% 0%"
      style="
            background-image: url(/assets/images/struck/dach/dach15.jpg);
          "
    >
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7">
          <div class="trust-company__left">
            <h2 class="trust-company__title">
              Wir lassen Sie nicht im Regen stehen!
            </h2>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <div class="trust-company__right">
            <ul class="list-unstyled trust-compay__points">
              <li>
                <div class="icon">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>Dacheindeckung</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>Abdichtung</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>Klempnerei</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Blog One Start-->
  <section class="blog-one pv-section">
    <div class="container">
      <div class="section-title text-center">
        <div class="section-sub-title-box">
          <p class="section-sub-title">Maßgeschneiderte Energielösungen</p>
          <div class="section-title-shape-1">
            <img src="/assets/images/struck/icons/roof1.svg" alt="" />
          </div>
        </div>
        <h2 class="section-title__title">PV-Anlagen</h2>
      </div>
      <div class="row">
        <!--Blog One Single Start-->
        <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay="200ms">
          <img src="/assets/images/struck/pv/pv2.jpg" alt="" class="w-100" />
        </div>
        <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
          <img
            class="py-sm-4 py-lg-3 weserpower-logo"
            src="/assets/images/weserpower.svg"
            alt="WeserPower Logo"
          />
          <p>
            Steigen Sie mit Weser Power in die Welt der erneuerbaren Energien
            ein. Als Zusammenschluss von Lücke Elektrotechnik und
            Dachdeckermeister Lauter & Struck sind wir Ihr Experte für
            Photovoltaik, Balkonkraftwerke, Heizstabsteuerungen, E-Mobility und
            mehr.
          </p>
          <p>
            Unsere Inhaber, Meister ihres Fachs, bringen gebündeltes Know-how
            und innovative Konzepte für eine grüne Zukunft mit. Entdecken Sie,
            wie wir Ihr Haus, Ihr Unternehmen oder Ihre Stadt energieeffizient
            umgestalten können.
          </p>
        </div>
      </div>
    </div>
    <!--Blog One Single End-->
    <!--Blog One Single Start-->
    <!--Blog One Single End-->
    <!--Blog One Single Start-->
    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms"></div>
    <!--Blog One Single End-->
  </section>
</Layout>

<!--Blog One End-->

<!--CTA One Start-->
<section class="cta-one">
  <div class="cta-one__img-box">
    <div class="cta-one__img">
      <img src="/assets/images/struck/dach/dach12.jpg" alt="" />
    </div>
  </div>
  <div class="container">
    <div class="cta-one__inner">
      <div class="cta-one__left">
        <p class="cta-one__sub-title">Dachdeckermeister</p>
        <h3 class="cta-one__title">
          Brauchen Sie hilfe <br /> bei Ihrem Dach?
        </h3>
      </div>
      <div class="cta-one__btn-box">
        <a href="/kontakt" class="thm-btn cta-one__btn">
          <i class="fa fa-arrow-right"></i> Anfrage stellen</a
        >
      </div>
    </div>
  </div>
</section>
<!--CTA One End-->

<!--Site Footer Start-->
<Footer />
<!--Site Footer End-->
