---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Kontakt | Lauter & Struck"
  description="Entdecken Sie die exzellenten Dach-, Fassaden- und Abdichtungslösungen von Lauter & Struck in Holzminden. Vertrauen Sie auf unsere Expertise – wir lassen Sie nicht im Regen stehen! Kontaktieren Sie uns für individuelle Angebote."
>
  <!--Page Header Start-->

  <!--Contact Details Start-->
  <section class="contact-details">
    <div class="container">
      <ul class="list-unstyled contact-details__list">
        <li>
          <a href="tel:05531127827" class="contact-details__number-1">
            <div class="contact-details__icon">
              <span class="icon-telephone"></span>
            </div></a
          >

          <div class="contact-details__content">
            <h4>
              <a href="tel:05531127827" class="contact-details__number-1"
                >05531 / 127 827</a
              >
            </h4>
          </div>
        </li>
        <li>
          <a
            href="https://wa.me/495531127827"
            class="contact-details__number-1"
          >
            <div class="contact-details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="50"
                height="50"
                viewBox="0 0 50 50"
                style="fill:#FFFFFF;"
              >
                <path
                  d="M25,2C12.318,2,2,12.318,2,25c0,3.96,1.023,7.854,2.963,11.29L2.037,46.73c-0.096,0.343-0.003,0.711,0.245,0.966 C2.473,47.893,2.733,48,3,48c0.08,0,0.161-0.01,0.24-0.029l10.896-2.699C17.463,47.058,21.21,48,25,48c12.682,0,23-10.318,23-23 S37.682,2,25,2z M36.57,33.116c-0.492,1.362-2.852,2.605-3.986,2.772c-1.018,0.149-2.306,0.213-3.72-0.231 c-0.857-0.27-1.957-0.628-3.366-1.229c-5.923-2.526-9.791-8.415-10.087-8.804C15.116,25.235,13,22.463,13,19.594 s1.525-4.28,2.067-4.864c0.542-0.584,1.181-0.73,1.575-0.73s0.787,0.005,1.132,0.021c0.363,0.018,0.85-0.137,1.329,1.001 c0.492,1.168,1.673,4.037,1.819,4.33c0.148,0.292,0.246,0.633,0.05,1.022c-0.196,0.389-0.294,0.632-0.59,0.973 s-0.62,0.76-0.886,1.022c-0.296,0.291-0.603,0.606-0.259,1.19c0.344,0.584,1.529,2.493,3.285,4.039 c2.255,1.986,4.158,2.602,4.748,2.894c0.59,0.292,0.935,0.243,1.279-0.146c0.344-0.39,1.476-1.703,1.869-2.286 s0.787-0.487,1.329-0.292c0.542,0.194,3.445,1.604,4.035,1.896c0.59,0.292,0.984,0.438,1.132,0.681 C37.062,30.587,37.062,31.755,36.57,33.116z"
                ></path>
              </svg>
            </div></a
          >

          <div class="contact-details__content">
            <h4>
              <a
                href="https://wa.me/495531127827"
                class="contact-details__number-1">+495531127827</a
              >
            </h4>
          </div>
        </li>
        <li>
          <a
            href="mailto:info@lauter-struck.de"
            class="contact-details__number-1"
          >
            <div class="contact-details__icon">
              <span class="icon-email"></span>
            </div></a
          >
          <div class="contact-details__content">
            <h4>
              <a
                href="mailto:info@lauter-struck.de"
                class="contact-details__number-1">info@lauter-struck.de</a
              >
            </h4>
          </div>
        </li>
        <li>
          <a
            href="https://maps.app.goo.gl/AG6Uv3D9EyqXbceX7"
            class="contact-details__number-1"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="contact-details__icon">
              <span class="icon-pin"></span>
            </div></a
          >

          <div class="contact-details__content">
            <h4>
              Gaußstr. 6 <br />
              37603 Holzminden
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--Contact Details End-->

  <!--Contact Page Start-->
  <section class="contact-page">
    <div class="contact-page-shape-1">
      <img src="/assets/images/shapes/contact-page-shape-1.png" alt="" />
    </div>
    <div class="container">
      <div class="section-title text-center">
        <div class="section-sub-title-box">
          <p class="section-sub-title">Kontaktieren Sie uns!</p>
          <div class="section-title-shape-1">
            <img src="/assets/images/struck/icons/roof1.svg" alt="" />
          </div>
        </div>
        <h2 class="section-title__title">
          Sie möchten gerne von uns beraten werden oder haben eine Frage?
        </h2>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="contact-page__form">
            <form
              method="POST"
              action="https://submit-form.com/OgDJNxeuL"
              class="comment-one__form contact-form-validatedOFF"
            >
              <input
                type="hidden"
                name="_redirect"
                value="https://lauter-struck.de/danke/"
              />

              <div class="row">
                <div class="col-xl-4">
                  <div class="comment-form__input-box">
                    <input type="text" placeholder="Ihr Name" name="name" />
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="comment-form__input-box">
                    <input type="email" placeholder="Email" name="email" />
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="comment-form__input-box">
                    <input type="text" placeholder="Telefon" name="telefon" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <div class="comment-form__input-box text-message-box">
                    <textarea name="nachricht" placeholder="Nachricht"
                    ></textarea>
                  </div>
                  <div
                    class="comment-form__btn-box d-flex justify-content-center flex-column align-items-center"
                  >
                    <div
                      class="g-recaptcha my-3"
                      data-sitekey="6LfkmJMqAAAAABlqZqGfyUL1-67kGxPYf468Sr8f"
                    >
                    </div>
                    <button type="submit" class="thm-btn comment-form__btn">
                      <i class="fa fa-arrow-right"></i> Nachricht senden</button
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
<!--Contact Page End-->

<!--Google Map Start-->
<!-- <section class="google-map google-map-two">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2465.5871413885875!2d9.427743515389247!3d51.83197199474111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47baef47a987e36f%3A0x2425969d59b0469a!2sCorveyer%20Str.%2017b%2C%2037671%20H%C3%B6xter!5e0!3m2!1sde!2sde!4v1670184805878!5m2!1sde!2sde"
      class="google-map__one"
      allowfullscreen></iframe>
  </section> -->
<!--Google Map End-->

<!--Site Footer End-->
<!--CTA One End-->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<Footer />
