---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dachdeckermeister | Struck">
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/dummys/team5.jpg)"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="index.html">Lauter & Struck</a></li>
        </ul>
        <h2>Unser Team</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Team Page Start-->
  <section class="team-page">
    <div class="container">
      <div class="row">
        <!--Team One Single Start-->
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="100ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/lauter.jpg"
                  alt="Niklas Lauter | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Lauter</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Team One Single End-->
        <!--Team One Single Start-->
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Struck.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs1.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs2.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs3.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs4.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs5.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs6.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs7.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs8.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs9.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs10.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs11.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs12.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs13.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs14.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/Jungs15.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/buro1.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/buro2.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/buro3.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img
                  src="/assets/images/struck/team/buro4.jpg"
                  alt="Struck | Geschäftsführung"
                />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fas fa-phone"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="/assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Team One Single End-->
        <!--Team One Single Start-->
        <!--Team One Single End-->
      </div>
    </div>
  </section>
  <!--Team Page End-->
  <!--CTA One End-->
  <Footer />
</Layout>
