---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Main Slider Start-->
  <!--About Three Start-->
  <section class="about-three about-three">
    <div class="container">
      <div class="row">
        <div class="col-xl-5">
          <div class="about-three__left">
            <div
              class="about-three__img-box wow slideInLeft"
              data-wow-delay="100ms"
              data-wow-duration="2500ms"
            >
              <div class="about-three__img">
                <img src="/assets/images/struck/team/chefs.jpg" alt="" />
              </div>
              <div class="about-three__img-two">
                <img
                  src="/assets/images/struck/details/naegel_quad.jpg"
                  alt=""
                />
              </div>
              <!-- <div class="about-three__border"></div> -->
            </div>
          </div>
        </div>
        <div class="col-xl-7">
          <div
            class="about-three__right wow slideInRight"
            data-wow-delay="0ms"
            data-wow-duration="2500ms"
          >
            <div class="section-title text-left">
              <div class="section-sub-title-box">
                <p class="section-sub-title">Wir stellen uns vor</p>
                <div class="section-title-shape-1">
                  <img src="/assets/images/struck/icons/roof1.svg" alt="" />
                </div>
              </div>
              <h2 class="section-title__title">Unser Unternehmen</h2>
            </div>
            <p class="about-three__text">
              Im Frühjahr 2005 gründete Thomas Struck, nach erfolgreicher
              Meisterprüfung den Dachdeckerbetrieb. Im Jahr 2023 ist Dachdecker-
              & Klempnermeister Niklas Lauter, nach 5 Jahren
              Betriebszugehörigkeit und Tätigkeit als Prokurist, als
              gleichberechtigter Partner in das Unternehmen eingestiegen.
            </p>
            <p class="about-three__text">
              Das Team, um die beiden Geschäftsführer, besteht aus zwei weiteren
              Dachdeckermeistern und aktuell 18 Mitarbeitern. Wir nehmen aber
              jeder Zeit gerne fähige und motivierte Teamplayer auf - siehe
              <a class="link" href="/jobs">Stellenangebote</a>. Die ständige
              Fort- & Weiterbildung unserer Fachkräfte ist ein wichtiger
              Bestandteil unserer Qualitätssicherung. Hierbei ist es uns
              wichtig, dass unsere Mitarbeiter die Schwerpunkte der Schulungen
              eigenständig wählen, um Ihre Fähigkeiten zu stärken und zu
              erweitern.
            </p>
            <p class="about-three__text">
              Bei uns wird großer Wert auf die Ausbildung gelegt. Deshalb bilden
              wir im Unternehmen jedes Jahr ein bis drei Auszubildende aus,
              denen eine abwechslungsreiche Karriere im Handwerk bevorsteht.
              Auch hier ist unser Team immer offen für neue, wissensgierige
              Auszubildene - siehe <a class="link" href="/jobs"
                >Stellenangebote</a
              >.
            </p><p class="about-three__text">
              Das Tätigkeitsfeld des Betriebes umfasst sämtliche Arbeiten rund
              um Dach und Fassade - siehe Leistungen. <br />
              <a href="/kontakt" class="thm-btn about-three__btn">
                <i class="fa fa-arrow-right"></i> Kontaktieren Sie uns</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--About Three End-->

    <!--Trust Company Start-->
    <section class="trust-company">
      <div class="trust-company-shape-1">
        <img src="/assets/images/shapes/traust-company-shape-1.png" alt="" />
      </div>
      <div class="trust-company-shape-2"></div>
      <div class="trust-company-shape-3"></div>
      <div class="trust-company-shape-4"></div>
      <div
        class="trust-company-bg jarallax"
        data-jarallax
        data-speed="0.2"
        data-imgPosition="50% 0%"
        style="background-image: url(/assets/images/struck/dach/dach15.jpg)"
      >
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7">
            <div class="trust-company__left">
              <h2 class="trust-company__title">
                Wir lassen Sie nicht im Regen stehen!
              </h2>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5">
            <div class="trust-company__right">
              <ul class="list-unstyled trust-compay__points">
                <li>
                  <div class="icon">
                    <span class="icon-tick"></span>
                  </div>
                  <div class="text">
                    <p>DACHDECKUNG & DÄMMUNG</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <span class="icon-tick"></span>
                  </div>
                  <div class="text">
                    <p>PHOTOVOLTAIK-ANLAGEN</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <span class="icon-tick"></span>
                  </div>
                  <div class="text">
                    <p>ZIMMEREI & HOLZBAU</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Trust Company End-->

    <!--Team One Start-->
    <section class="team-one team-two">
      <div class="container">
        <div class="section-title text-center">
          <div class="section-sub-title-box">
            <p class="section-sub-title">Lauter & Struck</p>
            <div class="section-title-shape-1">
              <img src="/assets/images/struck/icons/roof1.svg" alt="" />
            </div>
          </div>
          <h2 class="section-title__title">Geschäftsführung</h2>
        </div>
        <div class="row justify-content-center">
          <!--Team One Single Start-->
          <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
            <div class="team-one__single">
              <div class="team-one__img-box">
                <div class="team-one__img">
                  <img src="/assets/images/struck/team/Lauter.jpg" alt="" />
                </div>
              </div>
              <div class="team-one__content-box">
                <div class="team-one__content">
                  <h3 class="team-one__name">
                    <a href="team-details.html">Niklas Lauter</a>
                  </h3>
                  <p class="team-one__sub-title">Geschäftsführer</p>
                  <div class="team-one__shape">
                    <img
                      src="/assets/images/shapes/team-one-shape.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Team One Single End-->
          <!--Team One Single Start-->
          <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
            <div class="team-one__single">
              <div class="team-one__img-box">
                <div class="team-one__img">
                  <img src="/assets/images/struck/team/Struck.jpg" alt="" />
                </div>
              </div>
              <div class="team-one__content-box">
                <div class="team-one__content">
                  <h3 class="team-one__name">
                    <a href="team-details.html">Thomas Struck</a>
                  </h3>
                  <p class="team-one__sub-title">Geschäftsführer</p>

                  <div class="team-one__shape">
                    <img
                      src="/assets/images/shapes/team-one-shape.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Team One Single End-->
          <!--Team One Single Start-->
          <!--Team One Single End-->
        </div>
      </div>
    </section>
    <!--Team One End-->

    <!--CTA One Start-->
    <section class="cta-one">
      <div class="cta-one__img-box">
        <div class="cta-one__img">
          <img src="/assets/images/struck/dach/dach12.jpg" alt="" />
        </div>
      </div>
      <div class="container">
        <div class="cta-one__inner">
          <div class="cta-one__left">
            <p class="cta-one__sub-title">Dachdeckermeister</p>
            <h3 class="cta-one__title">Brauchen Sie hilfe bei Ihrem Dach?</h3>
          </div>
          <div class="cta-one__btn-box">
            <a href="/kontakt" class="thm-btn cta-one__btn">
              <i class="fa fa-arrow-right"></i> Anfrage stellen</a
            >
          </div>
        </div>
      </div>
    </section>
    <!--CTA One End-->
    <Footer />
  </section>
</Layout>
