---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dachdeckermeister | Struck">
  <!--Main Slider Start-->
  <!--About Three Start-->
  <section class="about-three about-three">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="about-three__left">
            <div
              class="about-three__img-box wow slideInLeft"
              data-wow-delay="100ms"
              data-wow-duration="2500ms"
            >
              <div class="about-three__img">
                <img src="assets/images/struck/dummys/team.jpg" alt="" />
              </div>
              <div class="about-three__img-two">
                <img
                  src="assets/images/struck/dummys/zimmerei2_dummy.jpg"
                  alt=""
                />
              </div>
              <div class="about-three__border"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div
            class="about-three__right wow slideInRight"
            data-wow-delay="0ms"
            data-wow-duration="2500ms"
          >
            <div class="section-title text-left">
              <div class="section-sub-title-box">
                <p class="section-sub-title">Wir stellen uns vor</p>
                <div class="section-title-shape-1">
                  <img src="assets/images/struck/icons/roof1.svg" alt="" />
                </div>
              </div>
              <h2 class="section-title__title">Unser Unternehmen</h2>
            </div>
            <p class="about-three__text">
              Nulla commodo dolor massa, vel pellentesque nulla congue quis.
              Fusce ut convallis diam. Nam id tortor et nunc tempor faucibus.
              Sed eu leo egestas, imperdiet felis sed, vestibulum ligula.
            </p>
            <ul class="list-unstyled about-three__point">
              <li>
                <div class="icon">
                  <i class="fa fa-check"></i>
                </div>
                <div class="text">
                  <p>Exploring version oflorem veritatis proin</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa fa-check"></i>
                </div>
                <div class="text">
                  <p>Auctor aliquet aenean simply free text veritatis quis</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa fa-check"></i>
                </div>
                <div class="text">
                  <p>Consequat ipsum nec lorem sagittis sem nibh.</p>
                </div>
              </li>
            </ul>
            <a href="about.html" class="thm-btn about-three__btn">
              <i class="fa fa-arrow-right"></i> Kontaktieren Sie uns</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About Three End-->

  <!--Trust Company Start-->
  <section class="trust-company">
    <div class="trust-company-shape-1">
      <img src="assets/images/shapes/traust-company-shape-1.png" alt="" />
    </div>
    <div class="trust-company-shape-2"></div>
    <div class="trust-company-shape-3"></div>
    <div class="trust-company-shape-4"></div>
    <div
      class="trust-company-bg jarallax"
      data-jarallax
      data-speed="0.2"
      data-imgPosition="50% 0%"
      style="background-image: url(assets/images/struck/dach/dach15.jpg);"
    >
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7">
          <div class="trust-company__left">
            <h2 class="trust-company__title">
              Lorem ipsum dolor sit amet, consectetur.
            </h2>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <div class="trust-company__right">
            <ul class="list-unstyled trust-compay__points">
              <li>
                <div class="icon">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>We’ve expert & certified staff</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>We only provide quality services</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>We offer you free estimates</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Trust Company End-->

  <!--Team One Start-->
  <section class="team-one team-two">
    <div class="container">
      <div class="section-title text-center">
        <div class="section-sub-title-box">
          <p class="section-sub-title">Lauter & Struck</p>
          <div class="section-title-shape-1">
            <img src="assets/images/struck/icons/roof1.svg" alt="" />
          </div>
        </div>
        <h2 class="section-title__title">Unser Team bei Lauter & Struck</h2>
      </div>
      <div class="row">
        <!--Team One Single Start-->
        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img src="assets/images/struck/dummys/team2.jpg" alt="" />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Niklas Lauter</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Team One Single End-->
        <!--Team One Single Start-->
        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img src="assets/images/struck/dummys/team3.jpg" alt="" />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Thomas Struck</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Team One Single End-->
        <!--Team One Single Start-->
        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
          <div class="team-one__single">
            <div class="team-one__img-box">
              <div class="team-one__img">
                <img src="assets/images/struck/dummys/team4.jpg" alt="" />
              </div>
              <ul class="list-unstyled team-one__social">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class="team-one__content-box">
              <div class="team-one__content">
                <h3 class="team-one__name">
                  <a href="team-details.html">Max Mustermann</a>
                </h3>
                <p class="team-one__sub-title">Geschäftsführer</p>
                <ul class="list-unstyled team-one__social-two">
                  <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                </ul>
                <div class="team-one__shape">
                  <img src="assets/images/shapes/team-one-shape.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Team One Single End-->
      </div>
    </div>
  </section>
  <!--Team One End-->

  <!--CTA One Start-->
  <section class="cta-one">
    <div class="cta-one__img-box">
      <div class="cta-one__img">
        <img src="assets/images/resources/cta-one-img-1.jpg" alt="" />
      </div>
    </div>
    <div class="container">
      <div class="cta-one__inner">
        <div class="cta-one__left">
          <p class="cta-one__sub-title">Dachdeckermeister</p>
          <h3 class="cta-one__title">Brauchen Sie hilfe bei Ihrem Dach?</h3>
        </div>
        <div class="cta-one__btn-box">
          <a href="contact.html" class="thm-btn cta-one__btn">
            <i class="fa fa-arrow-right"></i> Anfrage stellen</a
          >
        </div>
      </div>
    </div>
  </section>
  <!--CTA One End-->
  <Footer />
</Layout>
