---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Page Header Start-->

  <!--Contact Page Start-->
  <section class="contact-page my-5 py-5">
    <div class="contact-page-shape-1">
      <img src="/assets/images/shapes/contact-page-shape-1.png" alt="" />
    </div>
    <div class="container">
      <div class="section-title text-center">
        <div class="section-sub-title-box">
          <p class="section-sub-title">Service</p>
          <div class="section-title-shape-1">
            <img src="/assets/images/struck/icons/roof1.svg" alt="" />
          </div>
        </div>
        <h2 class="section-title__title">VELUX Dachfenster-Konfigurator</h2>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="contact-page__form">
            <iframe
              src="https://dachfensterkonfigurator.velux.de/konfigurator?embed=true&id=10904922"
              height="1400"
              width="100%"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Contact Page End-->

  <!--Google Map Start-->
  <!-- <section class="google-map google-map-two">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2465.5871413885875!2d9.427743515389247!3d51.83197199474111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47baef47a987e36f%3A0x2425969d59b0469a!2sCorveyer%20Str.%2017b%2C%2037671%20H%C3%B6xter!5e0!3m2!1sde!2sde!4v1670184805878!5m2!1sde!2sde"
      class="google-map__one"
      allowfullscreen></iframe>
  </section> -->
  <!--Google Map End-->

  <!--Site Footer End-->
  <!--CTA One End-->
  <Footer />
</Layout>
