---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";

const refs = [
  "/assets/images/struck/dach/dach1.jpg",
  "/assets/images/struck/dach/dach10.jpg",
  "/assets/images/struck/dach/dach4.jpg",
  "/assets/images/struck/dach/dach12.jpg",
  "/assets/images/struck/referenzen/ref1.jpg",
  "/assets/images/struck/referenzen/ref2.jpg",
  "/assets/images/struck/referenzen/ref3.jpg",
  "/assets/images/struck/referenzen/ref4.jpg",
  "/assets/images/struck/referenzen/ref5.jpg",
  "/assets/images/struck/referenzen/ref6.jpg",
  "/assets/images/struck/referenzen/ref7.jpg",
];
import SideNav from "../../components/sideNav.astro";
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Page Header Start-->
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/details/naegel_quer_big.jpg); background-position: 50%;"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li><a href="/leistungen">Leistungen</a></li>
        </ul>
        <h2>Unsere Leistungen</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Service Details Start-->
  <section class="service-details">
    <div class="container">
      <div class="row" style="--bs-gutter-x:60px">
        <div class="col-xl-4 col-lg-5">
          <SideNav leistung="dacheindeckung" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="service-details__right">
            <div class="service-details__img">
              <img src="/assets/images/struck/dach/dach1.jpg" alt="" />
              <div class="service-details__icon">
                <span class="icon-joist"></span>
              </div>
            </div>
            <div class="service-details__content">
              <h3 class="service-details__content-title">Dacheindeckung</h3>
              <p class="service-details__text-1">
                Ziegel-, Schiefer-, oder Stehfalzeindeckung mit der dazu
                passenden, energiesparenden Wärmedämmung. Oder auch eine
                selbsttragenden Trapez- oder Isopaneleindeckung, wir finden
                gemeinsam die passende Lösung für Sie.
              </p>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <div class="row">
                    <div class="col-xl-8 d-flex flex-column">
                      <p class="service-details__text-2">Auf den Punkt:</p>
                      <ul
                        class="list-unstyled service-details__benefits-points"
                      >
                        <li>
                          <div class="icon">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="text">
                            <p>Wärmeisolierung</p>
                          </div>
                        </li>
                        <li>
                          <div class="icon">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="text">
                            <p>Ziegel-& Schiefereindeckungen</p>
                          </div>
                        </li>
                        <li>
                          <div class="icon">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="text">
                            <p>Stehfalzeindeckungen</p>
                          </div>
                        </li>
                        <li>
                          <div class="icon">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="text">
                            <p>
                              selbsttragenden Trapez- oder Isopaneleindeckungen
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="col-xl-3 justify-content-center d-flex flex-column brand-img items-center align-content-center align-items-center gap-2"
                    >
                      <img
                        src="/assets/images/struck/brands/braas.svg"
                        alt="braas"
                      />
                      <img
                        src="/assets/images/struck/brands/rathscheck.svg"
                        alt="rathscheck"
                      />
                      <img
                        src="/assets/images/struck/brands/rheinzink.svg"
                        alt="rheinzink"
                      />
                      <img
                        src="/assets/images/struck/brands/prefa.svg"
                        alt="prefa"
                        style="height:100px"
                      />
                      <img
                        src="/assets/images/struck/brands/polmetal.svg"
                        alt="polmetal"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <section class="project-one ref-section">
                <div class="project-one__top">
                  <div class="container">
                    <div class="section-title text-center">
                      <h3 class="section-title__title fs-2 text-start">
                        Referenzen
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="project-one__bottom">
                  <div class="project-one__bottom-wrapper">
                    <div
                      class="ref-one__carousel owl-carousel owl-theme thm-owl__carousel"
                    >
                      {
                        refs.map((ref) => (
                          <div class="item">
                            <div class="project-one__single">
                              <div class="project-one__img-box">
                                <div class="project-one__img">
                                  <img src={ref} alt="" />
                                </div>
                                <div class="project-one__link">
                                  <a class="img-popup" href={ref}>
                                    <i class="fa fa-search-plus" />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        ))
                      }
                      <!--Project One Single End-->
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Service Details End-->
    <Footer />
  </section>
</Layout>
