---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import SideNav from "../../components/sideNav.astro";
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Page Header Start-->
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/dach/dach13.jpg); background-position: 50%;"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li><a href="/leistungen">Leistungen</a></li>
        </ul>
        <h2>Unsere Leistungen</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Service Details Start-->
  <section class="service-details">
    <div class="container">
      <div class="row" style="--bs-gutter-x:60px">
        <div class="col-xl-4 col-lg-5">
          <SideNav leistung="fassade" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="service-details__right">
            <div class="service-details__img">
              <img src="/assets/images/struck/fassade/fassade1.jpg" alt="" />
              <div class="service-details__icon">
                <span class="icon-joist"></span>
              </div>
            </div>
            <div class="service-details__content">
              <h3 class="service-details__content-title">Fassade</h3>
              <p class="service-details__text-1">
                hinterlüftete, wärmegedämmte Fassaden inkl. Bekleidung mit
                verschiedensten Materialien wie z.B. Stehfalz,
                Kassetten-Paneelen, Schiefer, Holz, aber auch HPL-Platten oder
                Faserzement-Produkten
              </p>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <p class="service-details__text-2">Details:</p>
                  <ul class="list-unstyled service-details__benefits-points">
                    <li>
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>hinterlüftete, wärmegedämmte Fassaden</p>
                      </div>
                    </li>
                    <li class="align-items-baseline">
                      <div class="icon">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="text">
                        <p>
                          Bekleidung mit verschiedensten Materialien wie z.B.
                        </p>
                        <ul class="list-unstyled">
                          <li>Stehfalz</li>
                          <li>Kassetten-Paneelen</li>
                          <li>Schiefer</li>
                          <li>Holz</li>
                          <li>HPL-Platten</li>
                          <li>Faserzement</li>
                          <li>uvm.</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- <div class="service-details__points-box">
                <ul class="list-unstyled service-details__points">
                  <li>
                    <div class="service-details__points-icon">
                      <span class="icon-roof"></span>
                    </div>
                    <div class="service-details__points-content">
                      <p>
                        Vom privaten Garagendach bis hin zu gewerblichen Hallen
                        bieten wir einen umfassenden Service.
                      </p>
                    </div>
                  </li>
                </ul>
              </div> -->
              <div class="service-details__benefits">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="service-details__benefits-content">
                      <h3 class="service-details__benefits-title">
                        Referenzen
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="service-details__benefits-single">
                      <div class="service-details__benefits-img">
                        <img
                          src="/assets/images/struck/fassade/fassade2.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="service-details__benefits-single">
                      <div class="service-details__benefits-img">
                        <img
                          src="/assets/images/struck/fassade/fassade3.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Service Details End-->
    <Footer />
  </section>
</Layout>
