---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import SideNav from "../../components/sideNav.astro";

const refs = [
  "/assets/images/struck/fassade/fassade2.jpg",
  "/assets/images/struck/fassade/fassade3.jpg",
  "/assets/images/struck/fassade/fassade4.jpg",
  "/assets/images/struck/fassade/fassade5.jpg",
  "/assets/images/struck/fassade/fassade6.jpg",
  "/assets/images/struck/fassade/fassade7.jpg",
  "/assets/images/struck/fassade/fassade8.jpg",
  "/assets/images/struck/fassade/fassade9.jpg",
  "/assets/images/struck/fassade/fassade10.jpg",
];
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Page Header Start-->
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/details/naegel_quer_big.jpg); background-position: 50%;"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li><a href="/leistungen">Leistungen</a></li>
        </ul>
        <h2>Unsere Leistungen</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Service Details Start-->
  <section class="service-details">
    <div class="container">
      <div class="row" style="--bs-gutter-x:60px">
        <div class="col-xl-4 col-lg-5">
          <SideNav leistung="fassade" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="service-details__right">
            <div class="service-details__img">
              <img src="/assets/images/struck/fassade/fassade1.jpg" alt="" />
              <div class="service-details__icon">
                <span class="icon-joist"></span>
              </div>
            </div>
            <div class="service-details__content">
              <h3 class="service-details__content-title">Fassade</h3>
              <p class="service-details__text-1">
                hinterlüftete, wärmegedämmte Fassaden inkl. Bekleidung mit
                verschiedensten Materialien wie z.B. Stehfalz,
                Kassetten-Paneelen, Schiefer, Holz, aber auch HPL-Platten oder
                Faserzement-Produkten
              </p>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <div class="row">
                    <div class="col-xl-8 d-flex flex-column">
                      <p class="service-details__text-2">Auf den Punkt:</p>
                      <ul
                        class="list-unstyled service-details__benefits-points"
                      >
                        <li>
                          <div class="icon">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="text">
                            <p>hinterlüftete, wärmegedämmte Fassaden</p>
                          </div>
                        </li>
                        <li class="align-items-baseline">
                          <div class="icon">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="text">
                            <p>
                              Bekleidung mit verschiedensten Materialien wie
                              z.B.
                            </p>
                            <ul class="list-unstyled">
                              <li>Stehfalz</li>
                              <li>Kassetten-Paneelen</li>
                              <li>Schiefer</li>
                              <li>Holz</li>
                              <li>HPL-Platten</li>
                              <li>Faserzement</li>
                              <li>uvm.</li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="col-xl-3 justify-content-center d-flex flex-column brand-img items-center align-content-center align-items-center gap-2"
                    >
                      <img
                        src="/assets/images/struck/brands/rheinzink.svg"
                        alt="rheinzink"
                      />
                      <img
                        src="/assets/images/struck/brands/polmetal.svg"
                        alt="polmetal"
                      />
                      <img
                        src="/assets/images/struck/brands/rathscheck.svg"
                        alt="rathscheck"
                      />
                      <img
                        src="/assets/images/struck/brands/cedral.svg"
                        alt="cedral"
                      />
                      <img
                        src="/assets/images/struck/brands/trespa.svg"
                        alt="trespa"
                      />
                      <img
                        src="/assets/images/struck/brands/prefa.svg"
                        alt="prefa"
                        style="height: 100px;"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section class="project-one ref-section">
              <div class="project-one__top">
                <div class="container">
                  <div class="section-title text-center">
                    <h3 class="section-title__title fs-2 text-start">
                      Referenzen
                    </h3>
                  </div>
                </div>
              </div>
              <div class="project-one__bottom">
                <div class="project-one__bottom-wrapper">
                  <div
                    class="ref-one__carousel owl-carousel owl-theme thm-owl__carousel"
                  >
                    {
                      refs.map((ref) => (
                        <div class="item">
                          <div class="project-one__single">
                            <div class="project-one__img-box">
                              <div class="project-one__img">
                                <img src={ref} alt="" />
                              </div>
                              <div class="project-one__link">
                                <a class="img-popup" href={ref}>
                                  <i class="fa fa-search-plus" />
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      ))
                    }
                    <!--Project One Single End-->
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Service Details End-->
  <Footer />
</Layout>
