---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import SideNav from "../../components/sideNav.astro";

const refs = [
  "/assets/images/struck/referenzen/ref1.jpg",
  "/assets/images/struck/referenzen/ref6.jpg",
  "/assets/images/struck/klempnerei/klemp1.jpg",
  "/assets/images/struck/klempnerei/klemp2.jpg",
  "/assets/images/struck/klempnerei/klemp3.jpg",
];
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Page Header Start-->
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/details/naegel_quer_big.jpg); background-position: 50%;"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li><a href="/leistungen">Leistungen</a></li>
        </ul>
        <h2>Unsere Leistungen</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Service Details Start-->
  <section class="service-details">
    <div class="container">
      <div class="row" style="--bs-gutter-x:60px">
        <div class="col-xl-4 col-lg-5">
          <SideNav leistung="klempnerarbeiten" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="service-details__right">
            <div class="service-details__img">
              <img src="/assets/images/struck/klempnerei/klemp1.jpg" alt="" />
              <div class="service-details__icon">
                <span class="icon-joist"></span>
              </div>
            </div>
            <div class="service-details__content">
              <h3 class="service-details__content-title">Klempnerarbeiten</h3>
              <p class="service-details__text-1">
                Von Dachrinnen, Fallrohren, über Fassaden- und Dacheindeckungen
                mit sämtlichen Baumetallen, wie z.B. Aluminium, Kupfer,
                Titanzink
              </p>
              <div class="service-details__benefits-single">
                <div class="service-details__benefits-content">
                  <div class="row">
                    <div class="col-xl-8 d-flex flex-column">
                      <p class="service-details__text-2">Auf den Punkt:</p>
                      <ul
                        class="list-unstyled service-details__benefits-points"
                      >
                        <li>
                          <div class="icon">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="text">
                            <p>Dachrinnen & Fallrohre</p>
                          </div>
                        </li>
                        <li>
                          <div class="icon">
                            <i class="fa fa-arrow-right"></i>
                          </div>
                          <div class="text">
                            <p>
                              Fassaden- und Dacheindeckungen mit sämtlichen
                              Baumetallen, wie z.B. Aluminium, Kupfer, Titanzink
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="col-xl-3 justify-content-center d-flex flex-column brand-img items-center align-content-center align-items-center gap-2"
                    >
                      <img
                        src="/assets/images/struck/brands/rheinzink.svg"
                        alt="Velrheinzinkux"
                      />
                      <img
                        src="/assets/images/struck/brands/prefa.svg"
                        alt="prefa"
                        style="height: 100px; margin-bottom: 15px"
                      />
                      <img
                        src="/assets/images/struck/brands/polmetal.svg"
                        alt="polmetal"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="service-details__points-box">
                <ul class="list-unstyled service-details__points">
                  <li>
                    <div class="service-details__points-icon">
                      <span class="icon-roof"></span>
                    </div>
                    <div class="service-details__points-content">
                      <p>
                        Vom privaten Garagendach bis hin zu gewerblichen Hallen
                        bieten wir einen umfassenden Service.
                      </p>
                    </div>
                  </li>
                </ul>
              </div> -->
              <section class="project-one ref-section">
                <div class="project-one__top">
                  <div class="container">
                    <div class="section-title text-center">
                      <h3 class="section-title__title fs-2 text-start">
                        Referenzen
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="project-one__bottom">
                  <div class="project-one__bottom-wrapper">
                    <div
                      class="ref-one__carousel owl-carousel owl-theme thm-owl__carousel"
                    >
                      {
                        refs.map((ref) => (
                          <div class="item">
                            <div class="project-one__single">
                              <div class="project-one__img-box">
                                <div class="project-one__img">
                                  <img src={ref} alt="" />
                                </div>
                                <div class="project-one__link">
                                  <a class="img-popup" href={ref}>
                                    <i class="fa fa-search-plus" />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        ))
                      }
                      <!--Project One Single End-->
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Service Details End-->
    <Footer />
  </section>
</Layout>
