---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import SideNav from "../../components/sideNav.astro";
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Page Header Start-->
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/details/naegel_quer_big.jpg); background-position: 50%;"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li><a href="/leistungen">Leistungen</a></li>
        </ul>
        <h2>Unsere Leistungen</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Service Details Start-->
  <section class="service-details">
    <div class="container">
      <div class="row" style="--bs-gutter-x:60px">
        <div class="col-xl-4 col-lg-5">
          <SideNav leistung="pv" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="service-details__right">
            <div class="service-details__img">
              <img src="/assets/images/struck/pv/pv2.jpg" alt="" />
              <div class="service-details__icon">
                <span class="icon-joist"></span>
              </div>
            </div>
            <div class="service-details__content">
              <h3 class="service-details__content-title">PV-Anlagen</h3>
              <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6">
                  <p class="service-details__text-1">
                    auf Einfamilien-, Mehrfamilienhäusern bis hin zu
                    Gewerbeanlagen jeglicher Größe kommt die PV-Anlage aus einer
                    Hand in unserem Partnerunternehmen: <a
                      href="https://www.weser-power.de/"
                      target="_blank"
                      rel="noopener noreferrer"><strong>Weser Power</strong></a
                    >
                  </p>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                  <a
                    href="https://www.weser-power.de/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img src="/assets/images/weserpower.svg" alt="WeserPower" />
                  </a>
                </div>
              </div>
            </div>
            <div class="service-details__benefits">
              <div class="row">
                <div class="col-xl-12">
                  <div class="service-details__benefits-content">
                    <h3 class="service-details__benefits-title">Referenzen</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="service-details__benefits-single">
                    <div class="service-details__benefits-img">
                      <img src="/assets/images/struck/pv/pv3.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="service-details__benefits-single">
                    <div class="service-details__benefits-img">
                      <img src="/assets/images/struck/pv/pv4.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Service Details End-->
  <Footer />
</Layout>
