---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import SideNav from "../../components/sideNav.astro";

const refs = [
  "/assets/images/struck/pv/pv6.jpg",
  "/assets/images/struck/pv/pv7.jpg",
  "/assets/images/struck/pv/pv8.jpg",
  "/assets/images/struck/pv/pv9.jpg",
  "/assets/images/struck/pv/pv5_hoch.jpg",
];
---

<Layout
  title="Photovoltaikanlagen | Lauter & Struck"
  description="Entdecken Sie die exzellenten Dach-, Fassaden- und Abdichtungslösungen von Lauter & Struck in Holzminden. Vertrauen Sie auf unsere Expertise – wir lassen Sie nicht im Regen stehen! Kontaktieren Sie uns für individuelle Angebote."
>
  <!--Page Header Start-->
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/details/naegel_quer_big.jpg); background-position: 50%;"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li><a href="/leistungen">Leistungen</a></li>
        </ul>
        <h2>Unsere Leistungen</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Service Details Start-->
  <section class="service-details">
    <div class="container">
      <div class="row" style="--bs-gutter-x:60px">
        <div class="col-xl-4 col-lg-5">
          <SideNav leistung="pv" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="service-details__right">
            <div class="service-details__img">
              <img src="/assets/images/struck/pv/pv6.jpg" alt="" />
              <div class="service-details__icon">
                <span class="icon-joist"></span>
              </div>
            </div>
            <div class="service-details__content">
              <h3 class="service-details__content-title">PV-Anlagen</h3>
              <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6">
                  <p class="service-details__text-1">
                    auf Einfamilien-, Mehrfamilienhäusern bis hin zu
                    Gewerbeanlagen jeglicher Größe kommt die PV-Anlage aus einer
                    Hand in unserem Partnerunternehmen: <a
                      href="https://www.weser-power.de/"
                      target="_blank"
                      rel="noopener noreferrer"><strong>Weser Power</strong></a
                    >
                  </p>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                  <a
                    href="https://www.weser-power.de/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      class="p-5 py-md-0"
                      src="/assets/images/weserpower.svg"
                      alt="WeserPower"
                    />
                  </a>
                </div>
              </div>
              <div class="row">
                <div
                  class="my-5 my-md-0 py-3 col-xl-3 justify-content-center d-flex flex-column flex-md-row brand-img items-center align-content-center align-items-center gap-3"
                >
                  <img
                    src="/assets/images/struck/brands/solaredge.svg"
                    alt="solaredge"
                  />
                  <img src="/assets/images/struck/brands/byd.svg" alt="byd" />
                  <img
                    src="/assets/images/struck/brands/luxor.svg"
                    alt="luxor"
                  />
                  <img
                    src="/assets/images/struck/brands/huawei.svg"
                    alt="huawei"
                  />
                </div>
              </div>
            </div>
            <section class="project-one ref-section">
              <div class="project-one__top">
                <div class="container">
                  <div class="section-title text-center">
                    <h3 class="section-title__title fs-2 text-start">
                      Referenzen
                    </h3>
                  </div>
                </div>
              </div>
              <div class="project-one__bottom">
                <div class="project-one__bottom-wrapper">
                  <div
                    class="ref-one__carousel owl-carousel owl-theme thm-owl__carousel"
                  >
                    {
                      refs.map((ref) => (
                        <div class="item">
                          <div class="project-one__single">
                            <div class="project-one__img-box">
                              <div class="project-one__img">
                                <img src={ref} alt="" />
                              </div>
                              <div class="project-one__link">
                                <a class="img-popup" href={ref}>
                                  <i class="fa fa-search-plus" />
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      ))
                    }
                    <!--Project One Single End-->
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Service Details End-->
  <Footer />
</Layout>
