---

---

<!--Site Footer Start-->
<footer class="site-footer">
  <div class="site-footer-img-1">
    <img src="/assets/images/struck/dach/dach1.jpg" alt="" />
  </div>
  <div class="site-footer-shape-1">
    <img src="/assets/images/shapes/site-footer-shape-1.png" alt="" />
  </div>
  <div class="container">
    <div class="site-footer__top">
      <div class="row">
        <div
          class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp"
          data-wow-delay="100ms"
        >
          <div class="footer-widget__column footer-widget__about">
            <div class="footer-widget__about-text-box">
              <p class="footer-widget__about-text">
                Wir lassen Sie nicht im Regen stehen...
              </p>
            </div>
            <div class="site-footer__social">
              <a href="https://www.facebook.com/dachdeckermeister.struck"
                ><i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/ddmlauterstruck/"
                ><i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="footer-widget__column footer-widget__explore clearfix">
            <h3 class="footer-widget__title">Entdecken</h3>
            <ul class="footer-widget__explore-list list-unstyled clearfix">
              <li><a href="/unternehmen">Unternehmen</a></li>
              <li><a href="/leistungen">Leistungen</a></li>
              <li><a href="/kontakt">Kontakt</a></li>
              <li><a href="/team">Unser Team</a></li>
            </ul>
          </div>
        </div>
        <div
          class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="footer-widget__column footer-widget__newsletter clearfix">
            <h3 class="footer-widget__title">Rechtliches</h3>
            <ul class="footer-widget__explore-list list-unstyled clearfix">
              <li><a href="/impressum">Impressum</a></li>
              <li><a href="/datenschutz">Datenschutzerklärung</a></li>
            </ul>
          </div>
        </div>
        <div
          class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
          data-wow-delay="400ms"
        >
          <div class="footer-widget__column footer-widget__contact">
            <h3 class="footer-widget__title">Kontakt</h3>
            <p class="footer-widget__contact-text">
              Corveyerstraße 17b <br />
              37671 Höxter-Stahle
            </p>
            <ul class="list-unstyled footer-widget__contact-list">
              <li>
                <div class="icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="text">
                  <p>
                    <a href="mailto:info@lauter-struck.de "
                      >info@lauter-struck.de</a
                    >
                  </p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fas fa-phone-alt"></i>
                </div>
                <div class="text">
                  <p><a href="tel:05531127827">05531 / 127 827</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="site-footer__bottom">
      <div class="row">
        <div class="col-xl-12">
          <div class="site-footer__bottom-inner">
            <p class="site-footer__bottom-text">
              © Alle Rechte vorbehalten | 2025 | <a href="#"
                >Dachdecker Lauter & Struck</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Site Footer End-->
