---
const { leistung } = Astro.props;
---

<div class="service-details__left">
  <div class="service-details__category">
    <ul class="service-details__category-list list-unstyled">
      <li class={leistung == "dacheindeckung" ? "active" : ""}>
        <a href="/leistungen/dacheindeckung"
          >Dacheindeckung <span class="fa fa-angle-right"></span>
        </a>
      </li>

      <li class={leistung == "abdichtung" ? "active" : ""}>
        <a href="/leistungen/abdichtung"
          >Abdichtung <span class="fa fa-angle-right"></span>
        </a>
      </li>

      <li class={leistung == "klempnerarbeiten" ? "active" : ""}>
        <a href="/leistungen/klempnerarbeiten"
          >Klempnerei <span class="fa fa-angle-right"></span>
        </a>
      </li>

      <li>
        <a href="roof-inspection.html"
          >Dachfenstereinbau / -austausch <span class="fa fa-angle-right"
          ></span>
        </a>
      </li>

      <li>
        <a href="roof-installation.html"
          >Fassade <span class="fa fa-angle-right"></span>
        </a>
      </li>

      <li>
        <a href="metal-roofing.html"
          >PV-Anlagen <span class="fa fa-angle-right"></span>
        </a>
      </li>
      <li>
        <a href="metal-roofing.html"
          >Drohnen-Inspektion <span class="fa fa-angle-right"></span>
        </a>
      </li>
      <li>
        <a href="metal-roofing.html"
          >Wartung- & Reparaturarbeiten <span class="fa fa-angle-right"></span>
        </a>
      </li>
      <li>
        <a href="metal-roofing.html"
          >Holzbau <span class="fa fa-angle-right"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="service-details__need-help">
    <div
      class="service-details__need-help-bg"
      style="background-image: url(/assets/images/struck/dach/dach10.jpg)"
    >
    </div>
    <div class="service-details__need-help-icon">
      <span class="icon-phone-call"></span>
    </div>
    <h2 class="service-details__need-help-title">
      Beste Lösungen für Ihr zu Hause oder Büro.
    </h2>
    <div class="service-details__need-help-contact">
      <p>Rufen Sie uns an:</p>
      <a href="tel:92003680903"> +49 (0) 5531 / 127 827</a>
    </div>
  </div>
  <div class="service-details__download">
    <a href="/kontakt" class="thm-btn service-details__btn">
      <i class="fa fa-arrow-right"></i> Kontakt</a
    >
  </div>
</div>
