---
import Header from "../components/Header.astro";
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link
      rel="stylesheet"
      href="/assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/assets/vendors/jarallax/jarallax.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/nouislider/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/nouislider/nouislider.pips.css"
    />
    <link rel="stylesheet" href="/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/assets/vendors/roofsie-icons/style.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/tiny-slider/tiny-slider.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/reey-font/stylesheet.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/owl-carousel/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/bxslider/jquery.bxslider.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/bootstrap-select/css/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="/assets/css/roofsie.css" />
    <link rel="stylesheet" href="/assets/css/roofsie-responsive.css" />
  </head>
  <body>
    <div class="preloader">
      <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
      <Header />
      <slot />
    </div>

    <div class="mobile-nav__wrapper">
      <div class="mobile-nav__overlay mobile-nav__toggler"></div>
      <!-- /.mobile-nav__overlay -->
      <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"
          ><i class="fa fa-times"></i>
        </span>

        <div class="logo-box">
          <a href="index.html" aria-label="logo image"
            ><img src="/assets/images/logo_white.svg" alt="" />
          </a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:info@lauter-struck.de">info@lauter-struck.de</a>
          </li>
          <li>
            <i class="fa fa-phone-alt"></i>
            <a href="tel:05531127827">05531 / 127 827</a>
          </li>
        </ul>
        <!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
          <div class="mobile-nav__social">
            <a
              href="https://www.facebook.com/dachdeckermeister.struck"
              class="fab fa-facebook-square"></a>
            <a
              href="https://www.instagram.com/ddmlauterstruck"
              class="fab fa-instagram"></a>
            <a href="https://wa.me/495531127827"
              ><i class="fab fa-whatsapp"></i>
            </a>
          </div>
          <!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__top -->
      </div>
      <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
      <div class="search-popup__overlay search-toggler"></div>
      <!-- /.search-popup__overlay -->
      <div class="search-popup__content">
        <form action="#">
          <label for="search" class="sr-only">search here</label
          ><!-- /.sr-only -->
          <input type="text" id="search" placeholder="Search Here..." />
          <button type="submit" aria-label="search submit" class="thm-btn">
            <i class="icon-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"
      ><i class="fa fa-angle-up"></i>
    </a>

    <script is:inline src="/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script is:inline src="/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <script is:inline src="/assets/vendors/jarallax/jarallax.min.js"></script>
    <script
      is:inline
      src="/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script is:inline src="/assets/vendors/jquery-appear/jquery.appear.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script is:inline src="/assets/vendors/nouislider/nouislider.min.js"
    ></script>
    <script is:inline src="/assets/vendors/odometer/odometer.min.js"></script>
    <script is:inline src="/assets/vendors/swiper/swiper.min.js"></script>
    <script is:inline src="/assets/vendors/tiny-slider/tiny-slider.min.js"
    ></script>
    <script is:inline src="/assets/vendors/wnumb/wNumb.min.js"></script>
    <script is:inline src="/assets/vendors/wow/wow.js"></script>
    <script is:inline src="/assets/vendors/isotope/isotope.js"></script>
    <script is:inline src="/assets/vendors/countdown/countdown.min.js"></script>
    <script is:inline src="/assets/vendors/owl-carousel/owl.carousel.min.js"
    ></script>
    <script is:inline src="/assets/vendors/bxslider/jquery.bxslider.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"
    ></script>
    <script is:inline src="/assets/vendors/vegas/vegas.min.js"></script>
    <script is:inline src="/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script is:inline src="/assets/vendors/timepicker/timePicker.js"></script>
    <script is:inline src="/assets/vendors/circleType/jquery.circleType.js"
    ></script>
    <script is:inline src="/assets/vendors/circleType/jquery.lettering.min.js"
    ></script>

    <!-- template js -->
    <script is:inline src="/assets/js/roofsie.js"></script>
  </body>
</html>
